.container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    padding-bottom: 20px;
    @media (max-width: 480px) {
        gap: 7px;
    }
}

.buttonPaginate{
    border: #625ac9 1px solid !important;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: #625ac9;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    @media (max-width: 480px) {
        width: 26px;
        height: 26px;

    }
}

.focused{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #625ac9;
    color: #eee;
    @media (max-width: 480px) {
        width: 26px;
        height: 26px;
    }
}

.d-none{
    display: none;
}

.chevron {
    color: #625ac9;
    transition: all .2s ease-in-out;
    cursor: pointer;
    &:hover{
        transform: scale(1.2);
    }
}
